//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de fuentes
$poppins: 'Poppins';

//variables de color
$blanco: #F5F5FA;
$rosa-fuerte: #FF6B81;
$violeta: #6C5DD3;
$naranja: #FF9F1C;
$rojo: #D72638;
$gris-oscuro: #4B4B4B;
$verde-azulado: #88C9BF;
$rosa-claro: #FFD6E8;
$blanco-puro: #FFFFFF;
$azul-profundo: #1C2541;
$azul-electrico: #3A86FF;
$azul-celeste: #B3CFF2;
$rosa-neon: #FF61A6;
$azul-oscuro:#0A0F2C;
$negro: #000000;
$amarillo: #FFD000;