//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de fuentes
$poppins: 'Poppins';

//variables de color
$blanco: #F5F5FA;
$rosa-fuerte: #FF6B81;
$violeta: #6C5DD3;
$naranja: #FF9F1C;
$rojo: #C94C4C;
$gris-oscuro: #4B4B4B;
$verde-azulado: #88C9BF;
$rosa-claro: #FFD6E8;
$blanco-puro: #FFFFFF