@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;

body {
    overflow-x: hidden;
    background-color: abs.$azul-oscuro;
}

html *{
    font-family: abs.$poppins;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
  }